<footer class="container-fluid text-center">
  <a href="https://www.aglowiditsolutions.com/" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>Made By <a href="https://www.aglowiditsolutions.com/" title="aglowiditsolutions">www.aglowiditsolutions.com</a></p>
</footer>