
<div class="jumbotron text-center">
  <h1>Crowling</h1> 
  <p>Add proper URL and get site data.</p> 
  <%= form_tag(get_data_path, {:class=>"form-inline", :id=>"get_crowling_data", :remote => true}) do %>
  	<div class="input-group">
  		<%= text_field_tag :url, params[:url], :placeholder => "http://aglowiditsolutions.com", :class=>"form-control", :required => true,:size=>"50", :id=>"input_url"%>
  		<div class="input-group-btn">
        <%= submit_tag "Get Data", class: "btn btn-success" %>
      </div>
  	</div>	
    <div id="err_info">

    </div>
  <%end%>
</div>

<div id="content_div" ></div>


<script type="text/javascript">
  $("#get_crowling_data").submit(function(e){
    $(".error_message").remove();
    $("#input_url").css("border","0px solid #950eea");
    var url = $("#input_url").val();
    console.log(url);
    var pattern = /^(http|https)?:\/\/[a-zA-Z0-9-\.]+\.[a-z]{2,4}/;
    pattern.test(url);
    if(pattern.test(url)){
      return true;
    }else{
      $("#input_url").css("border","2px solid #950eea");
      $("#err_info").append( "<div class='error_message'><p>Please enter corect format like this (http://aglowiditsolutions.com)</p></div>" );
      return false;
    }
  });
</script>